<div class="banner">
<div class="container">
<div class="row">
  <div class="col-md-2">
    <h2 class="text-left">TextRank</h2>
  </div>
  <div class="col-md-10">
    <p>
        ExplainToMe is a automatic text summarizer that utilizes TextRank,
        a graph based ranking model for text processing and article summarization.
    </p>
    <p>
        TextRank relies on the semantic relationships between words and phrases
        to decide relative importance of a sentence within a document.
    </p>
    <p>
        The methodology is in likeness to the way search engines generate
        relevant web pages from a users search query.
    </p>
  </div>
</div>
</div>
</div>

<div class="content-section-b">
<div class="container">
<div class="row">
    <ul class="list-inline banner-social-buttons">
      <li>
        <a href="https://facebook.com/1281440855213573" class="btn btn-default btn-lg">
        <i class="fa fa-facebook fa-fw"></i>
        <span class="network-name">Facebook</span></a>
      </li>
      <li>
        <a href="https://twitter.com/jjangsangy" class="btn btn-default btn-lg">
        <i class="fa fa-twitter fa-fw"></i>
        <span class="network-name">Twitter</span></a>
      </li>
      <li>
        <a href="https://github.com/jjangsangy/ExplainToMe" class="btn btn-default btn-lg">
        <i class="fa fa-github fa-fw"></i>
        <span class="network-name">Github</span></a>
      </li>
      <li>
        <a href="https://angel.co/sanghan" class="btn btn-default btn-lg">
        <i class="fa fa-angellist fa-fw"></i>
        <span class="network-name">Angel List</span></a>
      </li>
    </ul>
</div>
</div>
</div>
