<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Sang Han" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="{% block bodyclass %}{% endblock %}">

    <header class="page-masthead" role="banner">
      <div class="wrapper">
        <nav role="navigation">
          {% block navigation %}
          <ul class="nav">
            <li><a href="https://github.com/jjangsangy/ExplainToMe">View code on <strong>GitHub</strong></a></li>
          </ul>
          {% endblock %}
        </nav>
      </div>
    </header>

    <div role="main">
      {% block content %}{% endblock %}
    </div>

    <footer class="page-footer" role="contentinfo">
      {% block contentinfo %}
      <p class="copyrights">Made by <a href="https://github.com/jjangsangy">Sang Han</a> and hosted on <a href="https://github.com/jjangsangy/ExplainToMe">GitHub</a>.</p>
      {% endblock %}
    </footer>

    {% if config.DEBUG -%}
    <!-- Connect to Livereload server -->
    <script>
      document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':1348/livereload.js"><\/script>')
    </script>
    {%- endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>

</html>
