{% extends "base.html" %}
{% from "_form.html" import render_field %}

{% block run %}
<div class="col-lg">
    <div class="intro-message">
        <h1>ExplainToMe</h1>
        <h3>Automatic Web Article Summarizer</h3>
        <hr class="intro-divider" />

        {% include "includes/loader.html" %}

        <form id="input-form" role="form" class="form-inline" action="{{ url_for('root.index', _anchor='summary') }}" method="post" animated>

            {{ form.hidden_tag() }}
            {{ render_field(form.url, required=true) }}
            {{ render_field(form.max_sent, required=true) }}
            <div class="form-group">
                <button id="send" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-send"></span> Send
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock run %}

{% block summary %}
{% if session.get('summary') %}
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h3 class="section-heading">

    <!-- Heading -->
    <a href="{{ url }}">{{ meta.title|default('Summary') }}</a>
    </h3>

    <!-- Description -->
    <h3>Description</h3>
    {% if meta['description'] %}
        <strong><p>{{ meta['description'] }}</p></strong>
    {% endif %}

    <!-- Summary Content -->
    <h3>{{ max_sent }} Sentence Summary</h3>
    {% for line in summary %}
        <p class="lead">{{ line }}<p>
    {% endfor %}
</div>

<!-- Left Block -->
<div class="col-lg-5 col-sm-pull-6 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>

    <!-- Article Image -->
    {% if meta['image'] %}
    <h3>Article Image</h3>
    <div class="row">
        <a href="{{ url }}"><img src="{{ meta['image']['url'] }}" class="img-thumbnail" /></a>
    </div>

    {% endif %}


    <h3>Breadcrumbs</h3>
    <!-- Authors -->
    {% if meta['authors'] %}
    <div class="row">
        <span class="label label-primary">By</span>
        <i class="fa fa-user"></i>
        {{ meta['authors']|join(', ') }}
    </div>
    {% endif %}

    <!-- Published Date -->
    {% if meta['publish_date'] %}
    <div class="row">
        <span class="label label-primary">Date</span>
        <span class="published">
            <i class="fa fa-calendar"></i>
            <time datetime="{{ meta['publish_date'] }}">{{ meta['publish_date'] | datetimefilter }}</time>
        </span>
    </div>
    {% endif %}

    <!-- Tags -->
    {% if meta['tags'] %}
    <div class="row">
        <span class="label label-info">Tags</span>
        <i class="fa fa-tag"></i>
            {% for tag in meta['tags'] %} <span class="label label-success">{{ tag }}</span>{% endfor %}
    </div>
    {% endif %}

    <!-- OpenGraph -->
    {% if meta['opengraph'] %}
    <h3>Metadata</h3>
    <div class="row">
        <ul class="list-group">
            {% for key, value in meta['opengraph'].items() %}
                <dl class="dl-horizontal">
                    <dt>{{ key }}</dt>
                    <dd>{{ value }}</dl>
                </dl>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div> <!-- /Left Block -->
{% endif %}
{% endblock summary %}

{% block about %}
<div class="col-md-2">
    <h2 class="text-left">TextRank</h2>
</div>
<div class="col-md-10">
    <p>
        ExplainToMe is a automatic text summarizer that utilizes TextRank,
        a graph based ranking model for text processing and article summarization.
    </p>
    <p>
        TextRank relies on the semantic relationships between words and phrases
        to decide relative importance of a sentence within a document.
    </p>
    <p>
        The methodology is in likeness to the way search engines generate
        relevant web pages from a users search query.
    </p>
</div>
{% endblock about %}

{% block contact %}
<ul class="list-inline banner-social-buttons">
  <li>
    <a href="https://facebook.com/1281440855213573" class="btn btn-default btn-lg">
    <i class="fa fa-facebook fa-fw"></i>
    <span class="network-name">Facebook</span></a>
  </li>
  <li>
    <a href="https://twitter.com/jjangsangy" class="btn btn-default btn-lg">
    <i class="fa fa-twitter fa-fw"></i>
    <span class="network-name">Twitter</span></a>
  </li>
  <li>
    <a href="https://github.com/jjangsangy/ExplainToMe" class="btn btn-default btn-lg">
    <i class="fa fa-github fa-fw"></i>
    <span class="network-name">Github</span></a>
  </li>
  <li>
    <a href="https://angel.co/sanghan" class="btn btn-default btn-lg">
    <i class="fa fa-angellist fa-fw"></i>
    <span class="network-name">Angel List</span></a>
  </li>
</ul>
{% endblock contact %}
