{% extends "base.html" %}

{% block title %}
{% if url %}
    {% if meta['title'] %} {{ meta['title'] }} {% else %} {{ super() }} {% endif %}
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block favicon %}
    {% if url %}
        {% if meta['meta']['favicon'] %}
            <link type="image/x-icon" href="{{ meta['meta']['favicon'] }}" rel="icon">
        {% else %}
            {{ super() }}
        {% endif %}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div id="loader" class="cssload-square" hidden>
    <div class="cssload-square-part cssload-square-green"></div>
    <div class="cssload-square-part cssload-square-pink"></div>
    <div class="cssload-square-blend"></div>
</div>
<form id="input-form" role="form" class="form-inline" action="/summary" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.url.label }}
        {{ form.url() }}
    </div>
    <div class="form-group">
        {{ form.max_sent.label }}
        {{ form.max_sent() }}
    </div>
    <div class="form-group">
        <button id="send" type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-send"></span>
            Send
        </button>
    </div>
</form>
{% endblock %}

{% block summary %}
{% if url %}

<!-- Right Block -->
<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h3 class="section-heading">

    <!-- Heading -->
    <a href="{{ url }}">
        {% if meta['title'] %} {{ meta['title'] }} {% else %} Summary {% endif %}
    </a>
    </h3>

    <!-- Description -->
    <h3>Description</h3>
    {% if meta['meta']['description'] %}
        <strong><p>{{ meta['meta']['description'] }}</p></strong>
    {% endif %}

    <!-- Summary Content -->
    <h3>{{ max_sent }} Sentence Summary</h3>
    {% for line in summary %}
        <p class="lead">{{ line }}<p>
    {% endfor %}

</div>

<!-- Left Block -->
<div class="col-lg-5 col-sm-pull-6 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>

    <!-- Article Image -->
    {% if meta['image']['url'] %}
    <h3>Article Image</h3>
    <div class="row">
        <a href="{{ url }}">
            <img src="{{ meta['image']['url'] }}" class="img-thumbnail">
        </a>
    </div>
    {% endif %}


    <h3>Breadcrumbs</h3>
    <!-- Authors -->
    {% if meta['authors'] %}
    <div class="row">
        <span class="label label-primary">By</span>
        <i class="fa fa-user"></i>
        {{ meta['authors']|join(', ') }}
    </div>
    {% endif %}

    <!-- Published Date -->
    {% if meta['publish_date'] %}
    <div class="row">
        <span class="label label-primary">Date</span>
        <span class="published">
            <i class="fa fa-calendar"></i>
            <time datetime="{{ meta['publish_date'] }}">{{ meta['publish_date'] | datetimefilter }}</time>
        </span>
    </div>
    {% endif %}

    <!-- Tags -->
    {% if meta['tags'] %}
    <div class="row">
        <span class="label label-info">Tags</span>
        <i class="fa fa-tag"></i>
            {% for tag in meta['tags'] %} <span class="label label-success">{{ tag }}</span>{% endfor %}
    </div>
    {% endif %}

    <!-- OpenGraph -->
    {% if meta['opengraph'] %}
    <h3>Metadata</h3>
    <div class="row">
        <ul class="list-group">
            {% for key, value in meta['opengraph'].items() %}
                <dl class="dl-horizontal">
                    <dt>{{ key }}</dt>
                    <dd>{{ value }}</dl>
                </dl>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div> <!-- /Left Block -->

{% endif %}
{% endblock %}
