{% extends "base.html" %}

{% block title %}ExplainToMe - Text Summarization for Humans{% endblock %}

{% block content %}
<div class="form">
    <form class="form-inline" action="/summary" method="post">
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <input type="url" class="form-control" id="url" placeholder="Summary URL" name="url" required />
        </div>
        <div class="form-group" >
            <input type="number" class="form-control" id="max_sent" value=10 name="max_sent" required />
        </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
