{% extends "base.html" %}

{% block title %}
{% if meta['title'] %}{{meta['title']}}{% else %}Summary Page{% endif %}
{% endblock %}

{% block summary %}

<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">
        <a href="{{url}}">
            {% if meta['title'] %}
                {{ meta['title'] }}
            {% else %}
                Generated Summary
            {% endif %}
        </a>
    </h2>

    {% if meta['meta']['description'] %}
        <strong><p>{{ meta['meta']['description'] }}</p></strong>
    {% endif %}

    {% for line in summary %}
        <p class="lead">{{ line }}<p>
    {% endfor %}

</div>

<div class="col-lg-5 col-sm-pull-6 col-sm-6">


{% if meta['opengraph'] %}
    <ul>
    {% for key, value in meta['opengraph'].iteritems() %}
        <li><strong>{{ key }}</strong>: {{ value }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div class="row">
{% if meta['authors'] %}
    <span class="label label-primary">By</span>
    <i class="fa fa-user"></i>
    {% for a in meta['authors'] %}
        {{ a }},
    {% endfor %}
{% endif %}
</div>

<div class="row">
{% if meta['publish_date'] %}
    <span class="label label-primary">Date</span>
    <span class="published">
        <i class="fa fa-calendar"></i>
        <time datetime="{{ meta['publish_date'] }}">{{ meta['publish_date'] | datetimefilter }}</time>
    </span>
{% endif %}
</div>

<div class="row">
{% if meta['tags'] %}
    <span class="label label-info">Tags</span>
    <i class="fa fa-tag"></i>
        {% for tag in meta['tags'] %}<span class="label label-success">{{ tag }}</span>{% endfor %}
{% endif %}
</div>

{% if meta['image']['url'] %}
    <img src="{{ meta['image']['url'] }}" class="img-responsive">
{% endif %}

</div>

{% endblock %}
