[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "==0.12.3"
Flask-Assets = "==0.11"
Flask-Bootstrap = "==3.3.7.1"
Flask-Cors = "==2.1.2"
Flask-DebugToolbar = "==0.10.1"
flask-heroku = "==0.1.9"
Flask-Script = "==2.0.5"
Flask-WTF = "==0.14.2"
futures = "==3.1.1"
chainmap = "==1.0.2"
ipython = "<6.0.0,>=5.3.0"
nltk = "==3.2.2"
python-dateutil = "==2.6.0"
sumy = "==0.6.0"
requests = "==2.17.3"
flask-appconfig = "==0.11.1"
Flask-Debug = "==0.4.3"
Flask-SSLify = "==0.1.5"
gunicorn = "*"
ipdb = "*"
gevent = "*"

[packages.goose-extractor]
git = "https://github.com/jjangsangy/python-goose.git"
editable = true
ref = "develop"
