body {
    width: 90%;
    margin: auto;
    font-family: "Helvetica Neue";

}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
