
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Sang Han" />
<meta name="description" content="Website Article Summarizer" />
<meta name="robots" content="index,nofollow" />
<meta property="og:image" content="https://raw.githubusercontent.com/jjangsangy/ExplainToMe/master/static/front.jpg" />
